
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="panel-body">
        <p>These are the Frequently Asked Questions.</p>
        <p>
            <strong><em>What is EPS?</em></strong><br/>
            EPS stands for Encumbrance Processing System. It is a web-based application written for the Florida Turnpike's Finance department
            to track financial encumbrance requests. The application runs on the Turnpike domain in the Florida Department of Transportation's intranet.
        </p>
        <p>
            <strong><em>How do I request access to EPS?</em></strong><br />
            You can contact the EPS Administrator by phone or email. Contact information is on our <a href="/Home/Contact">Contacts</a> page.
        </p>
        <p>
            <strong><em>Can I use EPS without an account?</em></strong><br />
            You can see limited information on the EPS website without a user account but you will not be able to submit or update any of the records.
        </p>
        <h4>Originators</h4>
        <p>
            <strong><em>How do I submit an encumbrance request?</em></strong><br />
            Click Request in the top menu. Complete the input forms and click the "Submit to Finance" button below the Financial Information.<br />
            Watch these videos for examples:
            <ul>
                <li><a href="~/video/EPS_Demo_Input_Amendment.wmv">Input an Amendment Encumbrance Request</a> (duration: 6:50)</li>
                <li><a href="~/video/EPS_Demo_Input_Supplemental.wmv">Input a Supplemental Encumbrance Request</a> (duration: 4:23)</li>
            </ul>
        </p>
        <p>
            <strong><em>How do I award an Advertisement for a Contract?</em></strong><br />
            On the List page, Advertisements that are in Complete status that have not yet been awarded have an "Award" link.
            Click the link to open a new Encumbrance Request that is a copy of the Advertisement, but with the Encumbrance Type set to "Award".
            At the same time, the Advertisement will be updated with new Financial Information reversing each line to make the net amount of the Advertisement $0.
            Watch this video for an example: <a href="~/video/EPS_Demo_Enter_and_Award_Advertisement.wmv">Award an Advertisement in EPS</a> (duration: 7:07)
        </p>
        <p>
            <strong><em>How do I duplicate an encumbrance request?</em></strong><br />
            Three ways to duplicate an encumbrance request that is in a <strong>Complete</strong> status:
            <ol>
                <li>On the List page, click the Duplicate link next to the Encumbrance ID. Click the Duplicate button in the confirmation dialog.</li>
                <li>Click the Encumbrance ID on the List page to open the existing encumbrance request. Click the <strong>Duplicate this Request</strong> 
                link in the Encumbrance Panel header in the top left part of the page.</li>
                <li>Click the Contract Number to open the Contract Details page. Scroll down to the Encumbrance Panel for the encumbrance request you want 
                to duplicate. Click on the <strong>Duplicate this Request</strong> link in the Encumbrance Panel header.</li>
            </ol>
            Watch this video for a demonstration: <a href="~/video/EPS_Duplicate_Encumbrance_Request.wmv">Duplicate an Encumbrance Request</a> (duration: 4:01)
        </p>
        <p>
            <strong><em>How do I delete an encumbrance request?</em></strong><br />
            You can delete an Encumbrance Request that is in <strong>Draft</strong> status. If you want to delete an Encumbrance Request that you have already submitted,
            ask your Finance Reviewer to return the Encumbrance Request to Draft status. Open the Encumbrance Request and click the <strong>Delete this Request</strong>
            link in the Encumbrance panel header. Confirm that you want to delete it by clicking the Delete button in the confirmation dialog.
        </p>
        <p>
            <strong><em>How do I attach a file to submit with my encumbrance request?</em></strong><br />
            You can attach a file to an encumbrance request in Draft status by using the tools in the Upload Attachment section of the Request form.
            <ul>
                <li>Click the <strong>Choose File</strong> button to open a file selection dialog.</li>
                <li>Choose a file from your computer. </li>
                <li>Click the <strong>Upload File</strong> button.</li>
            </ul>
            File attachments are required for encumbrance requests for negative total dollar amounts. 
            For complete information on file attachments, watch this video: <a href="~/video/EPS_Demo_File_Attachments.wmv">Add a File Attachment</a> (duration; 3:02)
        </p>
    </div>
</div>
