
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="panel-body">
        <p>These are the Frequently Asked Questions.</p>
        <p>
            <strong><em>What is EPS?</em></strong><br/>
            EPS stands for Encumbrance Processing System. It is a web-based application written for the Florida Turnpike's Finance department
            to track financial encumbrance requests. The application runs on the Turnpike domain in the Florida Department of Transportation's intranet.
        </p>
        <p>
            <strong><em>How do I request access to EPS?</em></strong><br />
            You can contact the EPS Administrator by phone or email. Contact information is on our <a href="/Home/Contact">Contacts</a> page.
        </p>
        <p>
            <strong><em>Can I use EPS without an account?</em></strong><br />
            You can see limited information on the EPS website without a user account but you will not be able to submit or update any of the records.
        </p>
    </div>
</div>
