
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="panel-body">
        <p>
            This is the Help page for the Encumbrance Processing System, version 2 (EPS2.0).
        </p>
        <p>
            This is just a rough, first draft with some basic information about the application.
        </p>
        <p>
            <strong>Request</strong> is the menu item that takes you to the page for requesting a new encumbrance.
            You will want to select the encumbrance type and then either select an existing contract or create a new one.
            We recommend that you take advantage of the Save as Draft button to save your work as you go.
            Add as many Line Items as you need by clicking the Add Line Item link. You can also use the links on the left of each existing line item
            to Edit, Duplicate, or Delete that line item. Duplicate will create a new line item that is a copy of an existing one without having to
            re-type the information.
        </p>
        <p>
            <strong>List</strong> is the menu item that takes you to the page for looking at what needs your attention.
            Your user login is assigned one or more EPS roles, such as Originator, Finance Reviewer, Work Program Reviewer, or CFM Submitter.
            For each of your roles, you will see a tab containing a list of the line items for encumbrances that are ready for you to take action.
            Click the links in a row to jump to the page for updating that encumbrance or line item.
            At the top of the table of line items is a search box that lets you filter the rows by any visible value.
        </p>
        <p>
            <strong>Resources</strong> is the menu item that shows a list of links to other FDOT web pages related to CFM and FLAIR. 
            The Blank FACTS worksheet link in this list will download an Excel worksheet to help prepare FACTs information.
        </p>
        <p>
            <strong>Messages</strong> is the menu item that takes you to the page where you can see notifications sent to you. 
            These notifications are also sent to your email address, unless you have requested not to receive them.
        </p>
        <p>
            <strong>The three horizontal lines</strong> are a menu icon, sometimes called the hamburger menu (hungry people say the lines look like a hamburger).
            This opens a list of links to Help, FAQ, Contact, and Users pages.<br />
            <strong>Help</strong> is this page that your are looking at now.<br />
            <strong>FAQ</strong> is the Frequently Asked Questions page. It lists common questions and their answers.<br />
            <strong>Contact</strong> is a page with information on how to contact the key people involved with EPS. Contact them to request access.<br />
            <strong>Users</strong> is a list of people who are authorized to use the EPS application, along with their contact information.<br />
        </p>
        <p>
            <strong>We need your feedback!!</strong>
            As you use this application, please make note of everything that is not perfect. 
            That is, if it causes you any confusion, slows you down, makes you think too much, or causes any other trouble, please make a note of what happened
            and what should have happened instead. We are determined to make this application as simple to use as possible. 
            All criticism and suggestions for improvement are welcome!<br />
            Email your comments to <a mailto:"chris.sands@aecom.com">Chris Sands</a>.

        </p>
        <p>
            Watch this <a href="/video/EPSOriginatorTutorial.wmv">tutorial video</a> for encumbrance request originators.
        </p>
    </div>
</div>
