@{
    ViewData["Title"] = "Home Page";
}


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="row">
    <div class="col-md-3">
        <h2>Welcome to the Encumbrance Processing System 2018</h2>
        <ul>
            <li>This application will update the existing EPS system with a modern look and feel</li>
            <li>Add new enhanced features like rapid searching, autocomplete dropdowns, and Contract filtering</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How To</h2>
        <ul>
            <li><a href="#">Add or Edit a Contract as an Originator</a></li>
            <li><a href="#">View and Review a Contract as a Finance Reviewer</a></li>
            <li><a href="#">Verify a Contract as a Work Program Reviewer</a></li>
            <li><a href="#">Submit a Contract to the CFM application</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>New Enhancements</h2>
        <ul>
            <li><a href="#">Links directly to application pages included in notifications</a></li>
            <li><a href="#">Status logging of all actions with time and date</a></li>
            <li><a href="#">Attach and Upload supporting files</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Keeping Old Features</h2>
        <ul>
            <li><a href="#">Allowing role-based access to forms</a></li>
            <li><a href="#">Allowing multiple roles for advanced users</a></li>
            <li><a href="#">Maintaining rollback capabilities to return contracts to other reviewers or originators</a></li>
        </ul>
    </div>
</div>
