@model EPS3.Models.User

@{
    ViewData["Title"] = "Create";
}

<p>&nbsp;</p>
<div class="panel panel-default" id="UserPanel" name="UserPanel">
    <div class="panel-heading" id="UserPanelHeading" name="UserPanelHeading">
        <h2>Create User</h2>
    </div>
    <div class="panel-body" id="UserPanelBody" name="UserPanelBody">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create", new { onkeydown = "return event.keyCode!=13" }>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserLogin" class="control-label"></label>
                        @Html.TextBoxFor(model => model.UserLogin, new { style = "text-transform:uppercase" })
                        <span asp-validation-for="UserLogin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div>
                        <input type="hidden" id="User_ReceiveEmails" name="ReceiveEmails" value="1" />
                        <select id="ReceiveEmailsOption" name="ReceiveEmailsOption" onchange="updateReceiveEmails()">
                            <option value="0">Use Message Center Only</option>
                            <option value="1" selected>Send Email Notifications</option>
                        </select>
                        <br />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
