<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a asp-action="Index" asp-controller="Home" class="navbar-brand"> <img src="~/images/EPSlogo-01.png" alt="EPS Logo" width="200" height="80"/></a>
        </div>
        <div class="navbar-collapse collapse navbar-right" id="navbar-collapse">
            <p>&nbsp;</p>
            <ul class="nav navbar-nav biglinks">
                <li id="ToDoList" name="ToDoList" class="dropdown"></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                        Contracts
                    </a>
                    <ul class="dropdown dropdown-menu" role="menu">
                        <li style="text-align:left"><a class="dropdown-item" href="/Contracts/Create">Create Contract</a></li>
                        <li style="text-align:left"><a class="dropdown-item" role="button" href="/Contracts/">List Contract</a></li>
                    </ul>
                </li>
                <li>
                    <a href="\LineItemGroups\Manage">Request</a>
                </li>
                <li>
                    <a href="\LineItemGroups\List">List</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                        Resources<span class="caret"></span>
                    </a>
                    <ul class="dropdown dropdown-menu" role="menu">
                        <li style="text-align:left"><a class="dropdown-item" role="button" target="_blank" href="https://fldot.sharepoint.com/sites/FDOT-OOC/DOO/FLAIRCodes/SitePages/Home.aspx">FLAIRify</a></li>
                        <li style="text-align:left"><a class="dropdown-item" role="button" target="_blank" href="http://fdotewp2.dot.state.fl.us/OOCAutomationPlatform/Tasks/object-code-search">Object Code Search</a></li>
                        <li style="text-align:left"><a class="dropdown-item" role="button" target="_blank" href="http://fdotewp2.dot.state.fl.us/OOCAutomationPlatform/Tasks/verifyrequest-flair-combinations">FLAIR Combinations</a></li>
                        <li style="text-align:left"><a class="dropdown-item" role="button" target="_blank" href="https://fdotwp2.dot.state.fl.us/ContractFundsManagement/#/Facts/ContractSummary/">DOT FACTS</a></li>
                        <li style="text-align:left"><a class="dropdown-item" role="button" target="_blank" href="https://fdotwp2.dot.state.fl.us/ContractFundsManagement/#/Facts/Edit/0/0/0">Add FACTS</a></li>
                        <li style="text-align:left"><a class="dropdown-item" role="button" target="_blank" href="https://fms.fdot.gov/anonymous/senddocumenttoclient?documentid=95">Blank FACTS Worksheet (.xlsx download)</a></li>
                    </ul>
                </li>
                <li>
                    <a href="\Messages\List">Messages</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/Menu_default.png" alt="Hamburger Menu Icon" id="hamburger" /><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" name="HamburgerMenu" id="HamburgerMenu">
                        <li>
                            <a href="\Home\Help">Help</a>
                        </li>
                        <li>
                            <a href="\Home\FAQ">FAQ</a>
                        </li>
                        <li>
                            <a href="\Home\Contact">Contact</a>
                        </li>
                    </ul>
                </li>                
            </ul>
        </div>
    </div>
</div>
