<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-action="Index" asp-controller="Home" class="navbar-brand"> <img src="~/images/EPSlogo-01.png" alt="EPS Logo" width="200" height="80"/></a>
        </div>
        <div class="navbar-collapse collapse navbar-right" id="navbar-collapse">
            <p>&nbsp;</p>
            <ul class="nav navbar-nav biglinks">
                <li>
                    <a href="\Contracts\Create">Contract</a>
                </li>
                <li>
                    <a href="\LineItemGroups\Manage">Request</a>
                </li>
                <li>
                    <a href="\LineItemGroups\List">List</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                        Resources<span class="caret"></span>
                    </a>
                    <ul class="dropdown dropdown-menu" role="menu">
                        <li style="text-align:left"><a class="dropdown-item" role="button" target="_blank" href="https://fldot.sharepoint.com/sites/FDOT-OOC/DOO/FLAIRCodes/SitePages/Home.aspx">FLAIRify</a></li>
                        <li style="text-align:left"><a class="dropdown-item" role="button" target="_blank" href="http://fdotewp2.dot.state.fl.us/OOCAutomationPlatform/Tasks/object-code-search">Object Code Search</a></li>
                        <li style="text-align:left"><a class="dropdown-item" role="button" target="_blank" href="http://fdotewp2.dot.state.fl.us/OOCAutomationPlatform/Tasks/verifyrequest-flair-combinations">FLAIR Combinations</a></li>
                        <li style="text-align:left"><a class="dropdown-item" role="button" target="_blank" href="https://fdotwp2.dot.state.fl.us/ContractFundsManagement/#/Facts/ContractSummary/">DOT FACTS</a></li>
                        <li style="text-align:left"><a class="dropdown-item" role="button" target="_blank" href="https://fdotwp2.dot.state.fl.us/ContractFundsManagement/#/Facts/Edit/0/0/0">Add FACTS</a></li>
                        <li style="text-align:left"><a class="dropdown-item" role="button" target="_blank" href="https://fms.fdot.gov/anonymous/senddocumenttoclient?documentid=95">Blank FACTS Worksheet (.xlsx download)</a></li>
                    </ul>
                </li>
                <li>
                    <a href="\Messages\List">Messages</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/Menu_gray.png" alt="Hamburger Menu Icon" id="hamburger" /><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="\Home\Help">Help</a>
                        </li>
                        <li>
                            <a href="\Home\FAQ">FAQ</a>
                        </li>
                        <li>
                            <a href="\Home\Contact">Contact</a>
                        </li>
                        <li>
                            <a href="\Users\Index">Users</a>
                        </li>
                    </ul>
                </li>
                <!--
        <li class="dropdown">

            <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                Review<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Finance Review</a></li>
                <li><a href="#">Work Program</a></li>
                <li><a href="#">CFM Ready</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                Reports<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Completed Forms</a></li>
                <li><a href="#">Contract Summary</a></li>
                <li><a href="#">Encumbrance Filter</a></li>
            </ul>
        </li>
    -->
            </ul>
        </div>
    </div>
</div>
